{% extends "base.html" %}
{% block content %}

<nav style="display: flex; gap: 12px; margin-bottom: 16px; justify-content: center;">
  {% for key, label in channels %}
    <a href="{% url 'channel' key %}" >{{ label }}</a>
  {% endfor %}
</nav>

{% if conversations %}

  {% for c in conversations %}
    <a class="row" href="{% url 'conversation' c.channel c.contact %}">
      <span style="min-width:0">
        <div class="name">{{ c.contact }}</div>
      </span>
    </a>
  {% endfor %}

{% else %}
  <div>Empty</div>
{% endif %}

{% endblock %}